#wrapper {
	border: 1px solid green;
	width: 1034px;
	height: 1020px;
	margin: 0 auto;
	background-image: url("../images/pokemon banner.jpg");
	border-radius: 10px;
}
h1{
	font-family: Luckiest Guy, cursive;
	font-size: 3.5em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#bulbasaur {
	border-radius: 10%;
	border: 20px solid #92c9ab;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #7dc9ab;
}
#ivysaur {
	border-radius: 10%;
	border: 20px solid #8db8c0;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #83b8c0;
}
#venasaur{
	border-radius: 10%;
	border: 20px solid #93b8c0;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #83b8c0;
}
#charmander {
	border-radius: 10%;
	border: 20px solid #f68e21;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #f68421;
}
#charmaleon{
	border-radius: 10%;
	border: 20px solid #e85a5f;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #e8645f;
}
#charizard{
	border-radius: 10%;
	border: 20px solid #f2a220;
	width: 291px;
	height: 400px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #f29820;
}
#picture img {
	width: 100%;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}
.outter h3 {
	text-align: center;
	margin-top: 10px;
	font-family: Luckiest Guy, cursive;
	font-size: 2.3em;
	color: #ffffff;
}
.outter p {
	text-align: center;
	margin-top: 20px;
	font-family: Helvetica;
	font-size: 0.95em;
	color: white;
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
@media screen and (max-width: 450px) {

	.outter{
		max-width: 50%;	
	}
	.outter h3{
		text-align: center;
		font-size: 2.3em;
		margin-top: 20px;
		max-width: 100%;
		display: none;	
	}
	.outter p {
		display: none;
		
	}
	#picture {
		margin: auto;
		display: block;
		margin-top: 10px;
		clear: both;
	}
	h1 {
		font-size: 2em;
		text-align: left;
		padding-left: 50px;
		background-color: white;
		background-size: 100px;


	}
	#bulbasaur{
		width: 150px;
		height: 150px;
		float: left;


	}
	#ivysaur {
		width: 150px;
		height: 150px;
		float: left;
	}
	#venasaur{
		width: 150px;
		height: 150px;
		float: left;
	}
	#charmander{
		width: 150px;
		height: 150px;
		float: left;
	}
	#charmaleon{
		width: 150px;
		height: 150px;
		float: left;
	}
	#charizard{
		width: 150px;
		height: 150px;
		float: left;
	}
	.outter{
		display: block;
		float: left; 
	}
	#wrapper{
		max-width: 450px;
	}
  



