#wrapper{
	width: 1920px;
	border: 1px double black;
	background-image: url("../image/background.jpg");
	/*background-repeat: no-repeat;*/
}

#head {
	width: 1900px;
	height: 1039.063px;
	margin: 0 auto;
	padding-left: 10px;
}
h1{
	font-size: 4em;
	margin: auto;
	color: blue;
	padding-left: 840px;
	font-family: "Spumante", Great Vibes, Helvetica;
	padding-top: 10px;

}
#izquierda{
	width: 600px;
	height: 391px;
	padding-top: 100px;
	padding-left: 10px;
}

#texto1 {
	background-color: white;
	width: 1250px;
	float: right;
	margin-top: 100px;
	font-size: 2em;
	font-family: Helvetica;
	color: gray;
	opacity: 0.5;
	border: 1px solid black;
}
#texto1 h2{
	text-align: right;
	padding-right: 20px;
}

#titular1{
	font-size: 2em;
	padding-bottom: 70px;

}

#texto1 p {
	opacity: 2;
}

#bot{
	width: 600px;
	height: 391px;
	padding-top: 100px;
	float: right;
}

#texto2 {
	background-color: black;
	width: 1250px;
	height: 391px;
	float: left;
	margin-top: 100px;
	padding-left: 10px;
	font-size: 2em;
	font-family: Helvetica;
	color: gray;
	opacity: 0.7;
	margin-bottom: 30px;
	border-radius: 1%;
	border: 1px solid black;
}

#titular2{
	font-size: 2em;
	padding-bottom: 70px;
}

#texto2 p{
	opacity: 1;
	font-size: 0.83em;
}

#nav{
	width: 1920px;
	height: 50px;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.8;
	text-align: center;
	margin-top: 64px
}

li {
	text-decoration: none;
	display: inline-block;
	margin-left: 200px;
	padding-top: 25px
}

a {
	text-decoration: none;
	font-size: 1.5em;
	color: white;
}

a:hover a:active{
	color: purple;
}

audio{
	padding-top: 20px;
	padding-right: 750px;
	margin: auto;

}